.orContinueWith {
    position: relative;
  }
  .appleIcon,
  .facebookIcon,
  .googleIcon {
    height: 42px;
    width: 42px;
    position: relative;
    min-height: 42px;
  }
  .appleIcon,
  .googleIcon {
    overflow: hidden;
    flex-shrink: 0;
  }
  .socialMediaLogins {
    align-self: stretch;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    gap: var(--gap-xl);
  }
  .shapeFrame {
    width: 174px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: var(--gap-base);
    text-align: left;
    font-size: var(--buttons-md-regular-size);
    color: var(--titles);
    font-family: var(--body-md);
  }
  