.bookingTour {
    position: relative;
    line-height: 48px;
}
.orderReview {
    position: relative;
    line-height: 42px;
}
.orderReviewWrapper {
    align-self: stretch;
    border-bottom: 1px solid #adadad;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    padding: 12px 0px;
}
.tourName {
    position: relative;
    line-height: 30px;
}
.baliBlissRetreat {
    position: relative;
    font-size: 16px;
    line-height: 32px;
    font-family: Inter;
}
.tourNameParent {
    align-self: stretch;
    border-bottom: 0.3px solid #adadad;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0px 0px 8px;
}
.durationParent {
    align-self: stretch;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0px 0px 8px;
}
.frameGroup {
    align-self: stretch;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 16px;
    text-align: left;
    font-size: 18px;
}
.frameParent {
    width: 373px;
    background-color: #f6f6f6;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding: 32px 24px;
    box-sizing: border-box;
    gap: 40px;
}
.rightColumn {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}
.leftColumnChild {
    align-self: stretch;
    position: relative;
    width: 707px;
    height: auto;
    overflow: hidden;
    height: 300px;
    flex-shrink: 0;
    object-fit: cover;
}
.yourDetailsWrapper {
    align-self: stretch;
    border-bottom: 1px solid #adadad;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    padding: 0px 0px 24px;
}
.firstName {
    position: relative;
    line-height: 32px;
}
.frameChild {
    align-self: stretch;
    position: relative;
    background-color: #f6f6f6;
    height: 48px;
}
.firstNameParent {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 12px;
}
.frameParent1 {
    align-self: stretch;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 16px;
}
.phoneParent {
    width: 346px;
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 12px;
}
.frameDiv {
    width: 707px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 16px;
    text-align: left;
    font-size: 18px;
    font-family: Inter;
}
.frameContainer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 24px;
}
.div2 {
    position: relative;
    font-size: 16px;
    line-height: 32px;
    font-weight: 600;
    font-family: Inter;
}
.totalCostParent {
    width: 164px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    padding: 0px 0px 8px;
    box-sizing: border-box;
    gap: 8px;
}
.bookNow {
    position: relative;
    font-weight: 600;
}
.bookNowWrapper {
    width: 250px;
    background-color: #09b5af;
    height: 56px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 8px;
    box-sizing: border-box;
    font-size: 16px;
    font-family: Inter;
}
.frameParent3 {
    align-self: stretch;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 4px;
    text-align: left;
    font-size: 18px;
}
.leftColumn {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 64px;
}
.columns {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 40px;
    text-align: right;
    font-size: 30px;
}
.body {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 40px;
    text-align: left;
    font-size: 40px;
    color: #0a0a0a;
    font-family: 'Gentium Book Basic';
}

